
body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    text-align: left;
    background: cornsilk;
}

.article{
    margin: 0 auto;
    max-width: 680px;
    padding: 24px;
}
.article__heading{
    margin: 0 0 1.5rem 0;
}
.article__heading--verified{
    color: palevioletred;
}
.article__lead{
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.article__figure{
    margin: 0 0 16px 0;
}
.figure__image{
    margin-bottom: 8px;
}
.figure__caption{
    text-align: center;
    font-style: italic;
}
