*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
    font-style: normal;
}
/*служебный класс для ограничивающего контейнера*/
._container{
    margin: 0 auto;
    width: 90%;
    max-width: 1180px;
}
/*служебный класс для адаптивных изобажений*/
._img-responsive{
    width: 100%;
    height: auto;
    object-fit: fill;
}
.button{
    outline: none;
    text-decoration: none;
    cursor: pointer;
    border-color: transparent;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.4;
    transition: all .3s ease;
}
.button--default{
    width: 100%;
    max-width: 332px;
    height: 48px;
    color: #42940F;
    background-color: #ffff;
    border: 2px solid #42940F;
    border-radius: 8px; 
      
}
.button--default:hover{
    color: #ffff;
    background-color: #42940F;
}
.button--default:active{
    background: #1F5200;
    border: 2px solid #1F5200;
}
.button--desabled{
    width: 100%;
    max-width: 332px;
    height: 48px;
    color: #ffff;
    border-radius: 8px; 
    background-color: #4E4E4E;
    border: 2px solid #4E4E4E;
}

.section-products{
    padding: 40px 0 60px;
    min-height: 100vh;
    background-color: #E5E5E5;
}
.product__tag-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
}
.product{
    background-color: #ffff;
}
.product-tag{
    display: inline-block;
    text-transform: uppercase;
    color: #2F2F2F;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
    padding: 1px 16px;
    margin-right: 16px;
}
.product-tag--new{
    background-color: #FDCFF3;
}
.product-tag--last{
    background-color: #FFCF56;
}
.section-products__title{
    font-weight: 900;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.products-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product{
    width: calc(33.3% - 10px);
   
    box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    overflow: hidden;
    position: relative; 
}
.products__button-wrapper{
    padding: 24px;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.product__info{
    padding: 24px 24px 72px 24px;
}
.product__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    color: #2F2F2F;
    margin-bottom: 16px;
}
.product__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2F2F2F;
    margin-bottom: 24px;
}
@media screen and (max-width: 1073px){
    .product-tag{
        margin-bottom: 8px;
    }
}
@media screen and (max-width: 1053px){
    .product__title{
        font-size: 22px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 932px){
    .section-products__title{
        font-size: 36px;
        line-height: 1.4;
    }
    
    .product{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 648px){
    .products-wrapper{
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .product{
        width: 80%;
        margin-bottom: 40px;
    }
    .product-tag{
        font-size: 14px;
    }
    .button{
        font-size: 16px;
        height: 42px;
    }
}
@media screen and (max-width: 516px){
    .section-products__title{
        font-size: 28px;
        margin-bottom: 26px;
    }
}
@media screen and (max-width: 418px){
    .product{
        width: 100%;
    }
    .product__title {
        font-size: 20px;
        line-height: 1.2;
    }
    .product-tag{
        font-size: 12px;
        padding: 1px 8px;
    }  
}
